body {
  min-width: 500px;
}
.like {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.button-like {
  font-size: 16px;
  color: #fff;
  opacity: 0.8;
  background-color: red;
  border-radius: 5px;
  border-style: none;
  padding: 10px 12px;
  min-width: 90px;
}
.button-like:hover {
  opacity: 1;
  cursor: pointer;
}
.like-field {
  position: absolute;
  box-sizing: border-box;
}
.image-heart {
  position: absolute;
  pointer-events: none;
  width: 30px;
}
